.header{
    background-color:rgba(41, 176, 120, 1);
    height: 100px;
    position: relative;
    margin-top: 37px;
}
.header-top{
    height: 37px;
    margin-top: -37px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.telephone{
    float: left;
    color:rgba(41, 176, 120, 1);
}
.icon{
    float: right;
    display: inline-block;
} 
.icon-WeChat{
    display:inline-block;
    height: 25px;
    width: 25px;
    background: url(task8.img/img.png) no-repeat;
    background-size: 110px;
    background-position: 0 -89px;
    padding-left: 16px;
    box-sizing: content-box;
}
.icon-QQ{
    display:inline-block;
    height: 25px;
    width: 26px;
    background: url(task8.img/img.png) no-repeat;
    background-size: 111px;
    background-position: 0 -56px;
    padding-left: 16px;
    box-sizing: content-box;
}
.icon-micro-blog{
    display:inline-block;
    height: 25px;
    width: 26px;
    background: url(task8.img/img.png) no-repeat;
    background-size: 110px;
    background-position: 0 -23px;
}
.header-bottom{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic6{
    height: 50px;
    width: 110px;
    display: inline-block;
}
.ul-navbar{
    padding: 0;
    margin: 0; 
}
.list1-2{
    height: 97px;
    line-height: 97px;
    margin-left: 60px;
    font-size: 16px; 
    display:inline-block;
    color: white;
    border-bottom: 4px solid white;
}
a{
    text-decoration: none;
} 
.list1-1,
.list1-3,
.list1-4{
    display:inline-block;
    margin-left: 60px;
    font-size: 16px; 
    color: white;  
    height: 97px;
    line-height: 97px;
}
.list1-1:focus{
    outline: none;
}
.list1-1:hover,
.list1-2:hover,
.list1-3:hover,
.list1-4:hover{
    border-bottom: 4px solid white;
}
.sort{
    line-height: 80px;
    height: 80px;
    
}
.work{
    color:rgba(41, 176, 120, 1); 
}
.choice{
    border-top: rgba(208, 204, 217, .5) 1px solid;
    border-bottom: rgba(208, 204, 217, 1) 1px solid;
}
.choice1{
    padding: 0; 
    height: 60px;
    display:table-cell; 
    vertical-align:middle;   
}
.list2{
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;  
    
}
.list2-choice:hover{
    background-color:rgba(41, 176, 120, 1);
    color: white;
}
.list2-choice{
    display: inline-block;
    margin-right: 30px;  
    font-size: 14px;
    padding: 0 4px;
}
.choice2{
    height: 70px;
    line-height: 70px;
    font-weight: bold; 
    margin-bottom: 47px;
    font-size: 13px;
    border-bottom: rgba(208, 204, 217, .5) 1px solid;
    
}

 .all:hover .small-wrap{
    display: block;
} 
 .small-wrap{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    display: none;   
    z-index: 10;  
    color: white;
    padding: 0 50px; 
} 
.engineer{
    padding-bottom: 30px;
    font-size: 16px;
    padding-top: 80px;
    font-weight: bold;
}
.text4{
    text-indent: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 230px;
    overflow: hidden;
}

.all{
    position: relative;
    top: 0;
    left: 0;
    padding: 0 15px;
    border: 1px solid rgba(238, 237, 237, 1);
    border-bottom: 0;
    margin-bottom: 10px;
}
ul a:link {   
    text-decoration: none;
    color: white;
}
ul a:visited {   
    text-decoration: none;
    color: white;
}
ul a:hover {   
    text-decoration: none;
    color: white;
}  
ul a:active {   
    text-decoration: none;
    color: white;
}
 a{
    text-decoration: none;
} 
.list3{
    padding:30px;
} 
.pic2{
    background: no-repeat;
    height: 140px;
    width: 140px;
    float: left;
}
.matter{
    margin-left: 150px;
    overflow: hidden; 
}
.name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom:15px;
    overflow: hidden;
    /* width: 110px; */
    white-space:nowrap;
    text-overflow: ellipsis;
}
.introduce{
    font-size: 14px;
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
}
.list4-1{
    border-right:  1px solid rgba(238, 237, 237, 1);
}
.height1{
    border-top:  1px solid rgba(238, 237, 237, 1);
    border-bottom: 1px solid rgba(238, 237, 237, 1);  
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px; 
} 
.height2{
    border-top:  1px solid rgba(238, 237, 237, 1);
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px; 
}
.pic3{
    background: url(task8.img/img.png) no-repeat;
    background-size: 110px;
    background-position: 0 0;
    display: inline;
    padding-left: 16px;
    margin-left: 12px;
}
.list5{
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 108px;
}

.list9{
    font-size: 13px;
    height: 40px;
    font-weight: bold;
    border: 1px solid rgba(238, 237, 237, 1); 
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}
.row-wrap{
    display: flex;
    align-items: center;
    height: 36px;
    border-left: 1px solid rgba(238, 237, 237, 1);
}
.row-wrap2{
    border: 1px solid rgba(238, 237, 237, 1);
    border-right: none; 
}
.text5{
    font-size: 13px;
}
.text1{
    color:#f13426;
}
.hint{
    border-bottom: 1px solid rgba(238, 237, 237, 1); 
    height: 40px; 
    display: flex;
    align-items: center;
    font-size: 13px; 
}
.wrap-last{
    margin-bottom: 240px;
}



.footer{
    background-color:#26a26f;
    width: 100%;
}
.list10{
    display: inline-block;
    margin-top: 29px;
    height: 30px;
    line-height: 30px;
    color: white;
}
.list11{
    display: inline-block;
    margin-top: 10px;
    margin-bottom:9px;
    height: 30px;
    line-height: 30px;
    color: white;
    
}
.text8:hover,
.list10:hover,
.list11:hover,
.list12:hover,
.list13:hover,
.list14:hover{
border-bottom: 1px solid white;
}
.list12{
    display: inline-block;
    margin-top: 27px;
    height: 32px;
    line-height: 32px;
    color: white;
}
.list13{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: white;
}
.list14{
    display: inline-block;
    margin-bottom: 17px;
    height: 30px;
    line-height: 30px;
    color: white;
}
.text8{
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    box-sizing: border-box;
    margin-bottom: 2px;   
}

.pic4{
    height: 94px;
    width: 94px;
    display: block;
}
.footer-top{
    position: relative;
    top: 0;
    left: 0;
}
.empty{
    height: 30px;
    width: 60px;
    background-color: #26a26f;
}
.footer-right{
    position: absolute;
    margin-top: -69px;
    top: 100px;
    right: 0;
}


.footer-bottom{
    border-top:#32c086 1.5px solid;
    width: 100%;
    color: white;
}

  @media screen and (min-width:280px) and (max-width:768px){
      .header{
          height: 60px;
          margin: 0;
          
      }
      .header-top{
          display: none;
      }
    .header-bottom{
        height: 60px;
    }
    
    .ul-navbar{
            padding: 0;
            margin: 0; 
        }
    .list1-2{
        height: 57px;
        line-height: 57px;
        margin-left: 10px;
        font-size: 16px; 
        display:inline-block;
        color: white;
        border-bottom: 4px solid white;
    }
    .list1-1,
    .list1-3,
    .list1-4{
        height: 57px;
        line-height: 57px;
        margin-left: 10px;
        font-size: 16px; 
        display:inline-block;
        color: white;  
    }
    .list1-1:hover,
    .list1-2:hover,
    .list1-3:hover,
    .list1-4:hover{
        border-bottom: 4px solid white;
    }
    .footer{
    background-color:#26a26f;
    width: 100%;
}
.list10{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: white;
    margin-top:10px; 
}
.list11{
    display: inline-block;
    margin:0px; 
    height: 22px;
    line-height: 22px;
    color: white;  
}
.text8:hover,
.list10:hover,
.list11:hover,
.list12:hover,
.list13:hover,
.list14:hover{
border-bottom: 1px solid white;
}
.list12{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: white;
    margin: 0;
}
.list13{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: white;
}
.list14{
    display: inline-block;
     margin-bottom: 0px; 
    height: 22px;
    line-height: 22px;
    color: white;
}
.text8{
    color: white;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    box-sizing: border-box;
    margin-bottom: 2px;   
}
.pic4{
    height: 94px;
    width: 94px;
    display: block;
}
.footer-top{
    position: relative;
    top: 0;
    left: 0;
}
.empty{
    display: none;
}

 .footer-right{
    position: static;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: content-box
    }  

.ul-navbar{
    display: none;
}
.pic6{
        height: 34px;
        width: 88px;
        z-index: 100;   
    }
.text-color{
    color: white;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
}
.nav-list-item li a:visiter
 {
     background-color: #29b078 !important; 
    color: white;
    border-bottom: 1px solid black !important;;
}

.text-color:focus,
.text-color:hover{
    background-color: #29b078 !important;
    color: white;
    border-bottom: 1px solid white;
} 
.text-work{
    border-bottom: 1px solid white;
}
.appearance{
    background-color: #29b078; 
     margin-top: -55px; 
}  
.btn-appearance:hover{
    background-color: rgba(33, 141, 96, 1);
}

.striping{
    background-color:#1F7551;
}
.big-wrap{
    margin-top: -21px;
}

}
    
 

 @media screen and (min-width:768px) and (max-width:1200px){
     /* .footer-right{
            position: static;
            padding-top: 55px;
        } */
        .list10,
        .list11,
        /* .text8 */
        {
           height: 40px;
           line-height: 40px; 
        }
        /* .pic4{
            margin-top:23px;
            height: 94px;
        } */
        .big-navbar{
             display: none;
         }
 }
        @media screen and (min-width:1200px){
   
    .big-navbar{
             display: none;
         }
}
 